<!-- <p>To jest kurs {{ title }}</p>
	<p>przykladowy teks: {{ inputTekst | uppercase }}</p>
<p>suma 2+2 = {{ 2 + 2 }}</p>
<p>Liczba E to: {{ liczbaE | number: '1.0-2' }}</p>
<p>Dzisiejsza data: {{ date | date: "dd/MM/yyyy" }}</p>
<div>Mam na imie {{ osoba.imie }}</div>

<p>Liczba PI: {{ pi }}</p>
<table>
	<tr>
		<th colspan="2">Osoba</th>
  </tr>
  <tr>
    <th>imie</th>
    <th>wiek</th>
  </tr>
	
  <tr>
		<td>{{ osoba.imie }}</td>
    <td>{{ osoba.wiek }}</td>
  </tr>
	<h3>tab</h3>
	<ol>
		<li *ngFor="let val of tab">{{ val }}</li>
  </ol>
</table> -->

<!-- <h3>{{ title }}</h3>
<ul>
  <li *ngFor="let dzien of dniTygodnia">
    <span>{{ dzien }}</span>
  </li>
</ul>
<ul>
  <div *ngFor="let o of osoby">
    <li *ngIf="o.wiek<20 || o.wiek>60">
      <strong>{{ o.imie }}</strong> wiek: {{ o.wiek }} czyStudent:
      {{ o.czyStudent }}
      <i *ngIf="o.wiek < 20"> - nastolatek</i>
      <i *ngIf="o.wiek > 60"> - senior</i>
		</li>
  </div>
</ul> -->

<h3>{{ title }}</h3>
<div *ngFor="let dzien of dniTygodnia; let i = index">
  <div [ngSwitch]="dzien">
    <div *ngSwitchCase="'poniedziałek'">{{ i + 1 }}) poniedziałek</div>
    <div *ngSwitchCase="'wtorek'">{{ i + 1 }}) wtorek</div>
    <div *ngSwitchCase="'środa'">{{ i + 1 }}) środa</div>
    <div *ngSwitchCase="'czwartek'">{{ i + 1 }}) czwartek</div>
    <div *ngSwitchCase="'piątek'">{{ i + 1 }}) {{ dzien }}</div>
    <div *ngSwitchCase="'sobota'">{{ i + 1 }}) {{ dzien }}</div>
    <div *ngSwitchDefault>{{ i + 1 }}) {{ dzien }}</div>
  </div>
</div>
